@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lora", serif;
  color: rgb(15, 15, 15);
}

.theme-red:hover {
  color: #d50101;
}

.cursive {
  font-family: "Great Vibes", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.centered-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.hover-inverse:hover {
  color: white;
  background-color: rgb(15, 15, 15);
  border-color: rgb(15, 15, 15);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: white;
  }
}
