@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lora", serif;
  color: rgb(15, 15, 15);
}

body {
  padding-top: 0;
}

.theme-red:hover {
  color: #d50101;
}

.cursive {
  font-family: "Great Vibes", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hover-inverse:hover {
  color: white;
  background-color: rgb(15, 15, 15);
  border-color: rgb(15, 15, 15);
}

.spin {
  color: #d50101;
  height: 3rem;
  width: 3rem;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
